@import url();

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
html, body {
    min-height: 100%;
}
body{
    background: radial-gradient(at top left, rgba(146,43,255,1) 0%, rgba(43,9,107,1) 100%);
    background-repeat: no-repeat;
}
p{
    margin: 16px auto;
    line-height: 1.5rem;
}


.layout{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}
nav .links{
    display: inline-block;
    text-align: right;
}
nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}
nav a:hover {
    border-color: aliceblue;
}
footer p{
    text-align: center;
    color: #bbb;
    margin: 40px auto;
}
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
}
h2 {
    font-size: 4em;
    margin-top: 150px;
}
h3 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px; 
}
.btn {
    display: inline-block;
    background: #d42990;
    padding: 10px 16px;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 500;
}
.img-banner{
    display: flex;
}